<h1> Pages <h1>
<% @pages.each do |page| %>
  <br>
  <p>Name: <%= page.name  %></p>
  <br>
  <p>Description: <%= page.description  %></p>

  <% if page.has_children? %>
    <% page.children.each do |child| %>
      <br>
      <p>Name: <%= child.name  %></p>
      <br>
      <p>Description: <%= child.description  %></p>
    <% end %>
  <% end %>

<% end %>